html,
body {
    margin: 0;
    height: 100%;
    background: #f5f7fb;
    font-family: Roboto, Arial, sans-serif;
}

*{
    box-sizing:border-box;
}

.content{

    margin-top:70px;

    padding:24px;

    max-width:1400px;

    margin-left:auto;

    margin-right:auto;

}

.footer{

    text-align:center;

    padding:20px;

    color:#888;

}