<h1 class="page-title">

    Tasks

</h1>
<div class="stats-grid">

    <mat-card>

        <h3>Total Tasks</h3>

        <h1>{{ tasks().length }}</h1>

    </mat-card>

    <mat-card>

        <h3>With Deadline</h3>

        <h1>{{ tasksWithDeadline() }}</h1>

    </mat-card>

    <mat-card>

        <h3>No Deadline</h3>

        <h1>{{ tasksWithoutDeadline() }}</h1>

    </mat-card>

</div>

<div class="task-container">

    <mat-card
        class="task-card"
        *ngFor="let task of tasks()">

        <div class="task-header">

            <mat-checkbox>

            </mat-checkbox>

            <h3>

                {{task.description}}

            </h3>

        </div>

        <div class="deadline" [ngClass]="{'overdue':isOverdue(task)}">

    <span *ngIf="task.deadline">

        📅 Due: {{task.deadline | date:'mediumDate'}}

    </span>

    <span *ngIf="!task.deadline">

        ⏰ No deadline

    </span>

</div>

    </mat-card>

</div>